body {
    background-image: url(../img/purple-up.png);
    background-repeat: repeat;
    background-color: #7C2086
}

.container {
    background-color: rgba(187, 113, 194, 0.85);
}

a {
    color: #FFDC40;
}

a:hover,
a:focus {
    color: #FFD100;
}

pre,
code {
    background-color: #222222;
    color: #A5EF00;
}

pre {
    border-color: #111111;
}

