body {
    background-color: #72B82A;
    background-image: url(../img/1up.png);
    background-repeat: repeat;
}

.container {
    background-color: rgba(174, 220, 127, 0.85);
    font-size: 120%;
}

.media-object {
    width: 175px;
}

#beginner-panel {
    background-color: #E69C84;
    border-color: #9B5641;
}

#advanced-panel {
    background-color: #BB71C2;
    border-color: #602B65;
}

.title {
    font-size:120%;
}

.btn {
    background-color: #72B82A;
    border-color: #638B3A;
}

.btn:hover,
.btn:focus {
    background-color: #447A0E;
    border-color: #638B3A;
}

.center {
    text-align: center;
}

img.pull-right {
    width: 45%;
    padding-left: 20px;
}